*
{
    padding: 0;
    margin: 0;
}

.cart-main
{
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 100vh;
    width: 450px;
    max-width: 450px;
    padding: 20px;
}

.cart-main h2 
{
    color: #464646;
    border-bottom: 1px  solid #e6e6e6;
    padding-bottom: 10px;
}

.cart-items-continer
{
    position: relative;
    
}

.cart-items-continer ul
{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    overflow-y: scroll;
    gap: 10px;
    margin-top: 20px;
    padding: 0 10px;
    width: 100%;
    height: 75vh;
}

.cart-items-continer ul li 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    width: 90%;
    height: 60px;
    padding: 20px 15px;
    position: relative;
    color: #474747;
}
.cart-items-continer ul li div 
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.cart-items-continer ul li div  img 
{
    mix-blend-mode:multiply;
}
.cart-items-continer ul li:nth-child(even)
{
    background-color: #e2e2e2;
    color: #474747;
}

.cart-items-continer ul li:nth-child(odd)
{
    background-color: #f3f3f3;
    color: #474747;
}

.cart-items-continer ul li div h5 
{
    width: 150px;
    max-width: 200px;
    font-weight: 400;
    text-align: left;
}

.cart-items-continer ul li div p
{
    width: 30px;
    max-width: 80px;
    text-align: center;
    
}

.cart-items-continer ul li div h6{

    width: 40px;
    font-weight: 300;
    max-width: 80px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.cart-items-continer ul li button 
{
    background-color: #cc8088;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    width: auto;
    height: 30px;
    margin-top: 0;
    font-size: 10px;
    font-weight: 900;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.cart-items-continer ul li button:hover
{
    background-color: #da182c;
}

 .total-checkout
{
    position: absolute;
    bottom: 50px;
    left: 0;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.total-checkout p {
    width: 50%;
}

.total-checkout button 
{
    margin-top: 0;
    background-color: #f5a461;
    border: none;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 8px;
    padding: 0.7em 0.8em;
    font-size: 0/7em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    margin: 5px 0;
}

.total-checkout button:hover
{
    background-color: #ff7e15;
}

.cart-close
{
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 25px;
    color: #797979;
    transition: color 0.3s ease;
}

.cart-close:hover
{
    color: #000;
}