*{
padding: 0;
margin: 0;
}

.main-Form
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 40px 0;
    color: #222222;
}

.main-Form h2 
{
    font-size: 33px;
    font-weight: 500;
    text-transform: uppercase;
}

form 
{
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap :20px;
    margin-top: 40px;
    width: 100%;
}

form div
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 450px;
}

form div input 
{
    background-color: #fff;
    border: 1px solid #ccc;
    color: #222;
}


form div textarea 
{
    width: 440px;
    background-color: #fff;
    color: #222222;
    border: 1px solid #ccc;
    font-family: inherit;
    padding: 5px 20px;
}
form div label 
{
    text-align: left;
    width: 150px;
}

.updtae-btn-section
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.cancle-formbtn
{
    background-color: #ff0909 ;
}

.btn
{
    
    border: none;
    padding: 0.8em 0.4em;
    border-radius: 6px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    font-size: 14px;
}

.update-formbtn
{
    background-color: #1678f8;
}


.update-formbtn:hover
{
    background-color: #559cf8;
}

.cancle-formbtn:hover
{
    background-color: #f76262;
}

.update-form-sec
{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
}